.secao-cards-claro {
    width: 100%;
    height: auto;
    background-color: #F6F8FC;
    color: #353a41;
    padding: 10px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Seção Cards Escuro*/
.secao-cards-escuro {
    width: 100%;
    height: auto;
    background-color: #000000;
    color: #e7e6e6;
    padding: 10px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 380px;
    height: 350px;
    padding: 0 20px;
    border: 1px solid #EDECEC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card p {
    margin: 10px auto;
    text-align: center;
}

.card h3 {
    font-size: 22px;
}