.banner {
    width: 100%;
    height: auto;
}

.secao-banner {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao1-claro {
    width: 50%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Seção1-escura*/

.secao1-escuro {
    width: 50%;
    height: 100%;
    background-color: #000000d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao-img {
    width: 50%;
    height: auto;
}

.img-banner {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao2-claro {
    width: 50%;
    height: 100%;
    background-color: #f6f8fc65;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 30px;
}
/*Seção 2 Escura*/
.secao2-escuro {
    width: 50%;
    height: 100%;
    background-color: #58595c65;
    color: #2f3535;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 30px;
}

.p1 {
    font-size: 20px;
    letter-spacing: 5px;
}

.textos-banner h2 {
    font-size: 50px;
    font-weight: 500;
}

.p2 {
    font-size: 50px;
    font-weight: 800;
}

@media (max-width: 950px) {
    .img-banner {
        width: auto;
        height: 80%;
    }

    .p2 {
        font-size: 40px;
        font-weight: 800;
    }
}

@media (max-width: 768px) {
    .secao1-claro{
        display: none;
    }
    .secao1-escuro{
        display: none;
    }
    .secao2{
        width: 100%;
    }
}

@media (max-width: 375px) {
    .banner{
        width: 100%;
    }
    .secao-banner{
        width: 100%;
    }
}